In [2]:
import sqlite3
import pandas as pd

#Create connection
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

#Create interns table
cursor.execute('''
CREATE TABLE interns (
    intern_id INTEGER PRIMARY KEY,
    intern_name TEXT,
    track TEXT
)
''')

#Insert data into interns
cursor.executemany('''
INSERT INTO interns (intern_id, intern_name, track)
VALUES (?, ?, ?)
''', [
    (1, 'Eman', 'Data Science'),
    (2, 'Rahul', 'Web Development'),
    (3, 'Sneha', 'Data Science'),
    (4, 'Amit', 'Cyber Security')
])

#Create mentors table
cursor.execute('''
CREATE TABLE mentors (
    mentor_id INTEGER PRIMARY KEY,
    mentor_name TEXT,
    track TEXT
)
''')

#Insert data into mentors
cursor.executemany('''
INSERT INTO mentors (mentor_id, mentor_name, track)
VALUES (?, ?, ?)
''', [
    (101, 'Dr. Sharath', 'Data Science'),
    (102, 'Mr. Varun', 'Web Development'),
    (103, 'Ms. veerana', 'Cyber Security')
])

#INNER JOIN query
query = '''
SELECT 
    i.intern_name,
    i.track,
    m.mentor_name
FROM interns i
INNER JOIN mentors m
ON i.track = m.track;
'''

#Load into Pandas DataFrame
df = pd.read_sql_query(query, conn)

#Print output
print("\nJoined Data:\n")
print(df)

# Close connection
conn.close()

Joined Data:

  intern_name            track  mentor_name
0        Eman     Data Science  Dr. Sharath
1       Rahul  Web Development    Mr. Varun
2       Sneha     Data Science  Dr. Sharath
3        Amit   Cyber Security  Ms. veerana